.upload__container {
    display: flex;
    column-gap: 3.125rem;
    align-items: center;
    margin-bottom: 3.125rem;
}
.upload__input {
    display: none;
}

.input__container {
    display: flex;
    column-gap: 1.875rem;
    align-items: center;
}

.customFileLabel,
.upload__button {
    display: inline-block;
    color: #5a6acf;
    padding: 0.9375rem 1.25rem;
    border-radius: 0.3125rem;
    background-color: rgba(112, 127, 221, 0.1);
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 100%; /* 157.143% */
    letter-spacing: 0.0313rem;
    transition: all 0.3s ease 0s;
}
.customFileLabel:hover,
.upload__button:hover {
    background-color: rgba(112, 127, 221, 0.9);
    color: white;
}
.fileName {
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 100%; /* 157.143% */
    letter-spacing: 0.0313rem;
    transition: all 0.3s ease 0s;
}

@media (max-width: 480px) {
    .upload__container {
       flex-direction: column;
       align-items: flex-start;
       row-gap: 1rem;
        
    }

    .upload__button  {
        width: 100%;
    }

}